<header class="welcome">
    <h3>Hello, {{#each users}}{{this.username}}{{/each}}</h3>
    <p>Please select a job to continue.</p>
</header>


<section>
    <form action="/" method="get">
        <input type="submit" class="taskPage" value="Get To Work!" />
    </form>
</section>


<section>
    <!--    display punch data-->
    <ol>
        <li></li>
    </ol>

</section>