<header class="container">
    <h2>Project Tracks</h2>
</header>

<section class="container">
    <div id="login">
        <h2>Login</h2>
        <form role="form" action="login" onsubmit="return validateForm()" method="post" name="loginForm">
            <input type="text" class="form-control" placeholder="Username" name="uname" id="uname" />
            <br>
            <input type="password" class="form-control" placeholder="Password" name="pass" id="pword" />
            <br>
            <input type="submit" value="Login" />
        </form>
    </div>
</section>