<header>

    <h2>Join Us</h2>

</header>

<section class="registerForm">
    <form id="signUp" role="form" action="/signUp" method="post">
        <input type="text" class="form-control rUname" placeholder="Username" name="uname" id="uname" />
        <br>
        <input type="password" class="form-control rPword" placeholder="Password" name="pass" id="pword" />
        <br>
        <input type="submit" value="Sign Up" />
    </form>
</section>